<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/admin_fragment :: header"></head>
<body>
<div class="columns">
    <div class="column is-2">
        <div th:include="/../fragments/admin_fragment :: lateral_menu"></div>
    </div>
    <div class="column is-6">
        <h2 class="title is-2 has-text-white " th:text="${course.nom}"></h2>
        <a th:href="@{'/admin/courses/' + ${course.id} + '/epreuves'}">Gérer les épreuves</a><br>
        <a th:href="@{'/admin/courses/' + ${course.id} + '/inscription'}">Gérer les inscriptions</a>
    </div>

</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
