img{
 width:80px;
}

.captain{
    width: 90%;
}

header,h2{
    text-align: center;
    background-color: #40698c;
    color:#ffffff
}
main{
    background-color:  #49ADBA;
    color: #ffffff;
    text-align: center;
}