

body{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}




header{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px grey;
  z-index: 1;

  
}



img{
  width: 80px;
}

video{
  width:100vw;
  height: 100vh;
  filter: blur(3px);
  opacity: 50%;
  position: absolute;
  object-fit: cover;
  

  
}