<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="fragments/publicfragments :: head"></head>
    <!-- Header fragments -->
    <header th:include="fragments/publicfragments :: header"></header>

  <body>
   
    
    <main>
      <section class="section1">
        <h3 class=" h-title is-size-2">Mais qui sommes Nous ?</h3>
        <p class="p-acceuil">
          Fondée en 1991 l"Association Flots Bleus, organise des courses de
          voilier. Son président Robert Boulard est un passionnée de voile qui a
          oeuvré pour faire de sa passion son métier. Dans un premier temps au
          niveau national amateur, puis au fil des années il c'est forgé une
          solide réputation. Aujourd'hui Flots Bleus est devenu incontournable
          dans le monde de la courses de voilier amateur mais aussi
          professionnelle. Mais malgré le succsés Flots Bleus reste une
          association ou humilité est le maitre mots .
        </p>
      </section>
      <section class=" section2">
        <h3 class=" h-title is-size-2">Quoi de neuf?</h3>
        <p class=" p-acceuil hero is-small p-2">
          Flots Bleus a décidé cette année de passer un cap,avec le lancement de
          son premier site.Avec cette initiative,nous voulons modernisé notre
          mode de communication et de cette façon,nos membres et future membres
          auront un accès aux différentes informations concernant Flots
          Bleus.Avec l'aide de ces nouvelles technologie l'association veux
          avant tous améliorer sa qualité de service en facilitant les
          démaraches des participants. Malgré les années qui passe Flots Bleus
          matiens le cap et ceux contre vent et marré.
        </p>
      </section>
      <div class="logo-prime p-1">
        <img class="acceuil-big-logo" th:src="@{/images/logo.png}" alt="logo">
      </div>
    </main>
    <footer th:include="fragments/publicfragments :: footer"></footer>
  </body>
</html>
