<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="fragments/publicfragments :: head"></head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" th:href="@{equipage.css}"> -->
    <!-- <link rel="stylesheet" href="../../static/css/equipage.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />

    <title>Equipage</title>
  </head> -->

  <!-- Header fragments -->

  <body>
    <!-- <head th:include="fragments/publicfragments :: head"></head> -->
    <header th:include="fragments/publicfragments :: header"></header>
    
       <!-- <div class="is-flex logotitle">
        <img th:src="@{/images/logo.png}" alt="Logo" />
        <h1>FLOTS BLEUS</h1>
      </div> -->

      <!-- <nav>
        <ul class="is-flex is-justify-content-space-between p-5">
          <li>Acceuil</li>
          <li>Voiliers</li>
          <li>Course</li>
          <li>Equipage</li>
          <li>Sponsors</li>
          <li>Qui sommes nous</li>
        </ul>
      </nav> 
    </header> -->
    <main class="p-6">
      <!-- Separation du titre h2 et du from select du main pour favoriser affichage  -->
      <!-- <div class="equipe">
        <h2>Nom des Equipes :</h2> -->
        <!-- <h3 th:text="${equipage.nom}"></h3> -->
        <select
          class="form-select form-select w-25"
          aria-label="Sélectioner une Equipe">
          <option selected>Select team</option>
          <option
            th:each="values:${equipages}"
            th:text="${values.nom}"
            th
            href="${equipage}"></option>
        </select>
      </div>

      <div>
        <table
          class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth p-6">
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Role</th>
          </tr>
          <tr th:each="personne : ${equipage.personnes}">
            <td th:text="${personne.prenom}"></td>
            <td th:text="${personne.nom}"></td>
            <td th:text="${personne.dateNaissance}"></td>
            <td th:text="${personne.role.nom}"></td>
          </tr>
        </table>
      </div>
    </main>

    <footer th:include="fragments/publicfragments :: footer"></footer>
      <!-- Logo des sponsors -->

      <!-- <div class="is-flex is-justify-content-space-between p-3">
        <img
          class="image is-96x96"
          src="../../static/images/figaro.png"
          alt="logo-figaro" />
        <img
          class="image is-96x96"
          src="../../static/images/logoSponsors2.png"
          alt="logo vendeglobe" />
        <img
          class="image is-96x96"
          src="../../static/images/sponsorslogo3.png"
          alt="logo bateau" />
        <img
          class="image is-96x96"
          src="../../static/images/sponsorslogo5.png"
          alt="logo bateau" />
      </div> -->

      <!-- Logo des réseaux sociaux -->

      <!-- <div class="is-flex is-flex-direction-row is-justify-content-center p-2">
        <img
          class="image is-48x48"
          src="../../static/img/logo/facebook.png"
          alt="logo facebook" />
        <img
          class="image is-48x48"
          src="../../static/img/logo/instagram.png"
          alt="logo instagram" />
        <img
          class="image is-48x48"
          src="../../static/img/logo/twitter.png"
          alt="logo twitter" />
        <img
          class="image is-48x48"
          src="../../static/img/logo/youtube.png"
          alt="logo youtube" />
      </div>

      <address>
        Association les Flots Bleus 10 rue du Saumon 92700 Colombes France
        <p>Tel : 01 56 48 39 23</p>
        <mailto>lesFlotsbleus@gmail.com</mailto>
      </address>
      <div>
        <span>&copy; Flots Bleus.com</span>
      </div>
    </footer> -->
  </body>
</html>
