<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="fragments/publicfragments :: head"></head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" th:href="@{equipage.css}"> -->
    <!-- <link rel="stylesheet" href="../../static/css/equipage.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />

    <title>Equipage</title>
  </head> -->

  <!-- Header fragments -->

  <body>
    <!-- <head th:include="fragments/publicfragments :: head"></head> -->
    <header th:include="fragments/publicfragments :: header"></header>
    
       <!-- <div class="is-flex logotitle">
        <img th:src="@{/images/logo.png}" alt="Logo" />
        <h1>FLOTS BLEUS</h1>
      </div> -->

      <!-- <nav>
        <ul class="is-flex is-justify-content-space-between p-5">
          <li>Acceuil</li>
          <li>Voiliers</li>
          <li>Course</li>
          <li>Equipage</li>
          <li>Sponsors</li>
          <li>Qui sommes nous</li>
        </ul>
      </nav> 
    </header> -->
    <main class="p-6">
      <!-- Separation du titre h2 et du from select du main pour favoriser affichage  -->
      <!-- <div class="equipe">
        <h2>Nom des Equipes :</h2> -->
        <!-- <h3 th:text="${equipage.nom}"></h3> -->
      <h2 class="is-flex is-justify-content-center p-4 is-size-2">Liste des équipes</h2>
      <h3 class="p-3 is-size-3">Info sur les Participants:</h3>
      

        <select
          class="form-select form-select p-2"
          aria-label="Sélectioner une Equipe">
          <option selected>Select team</option>
          <option
            th:each="values:${equipages}"
            th:text="${values.nom}"
            th
            href="${equipage}"></option>
        </select>
      </div>

      <div class="p-6">
        <table
          class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth p-0">
          <tr>
            <th class="p-3 has-text-centered">Prenom</th>
            <th class="p-3 has-text-centered">Nom</th>
            <th class="p-3 has-text-centered">Age</th>
            <th class="p-3 has-text-centered">Role</th>
          </tr>
          <tr th:each="personne : ${equipage.personnes}">
            <td th:text="${personne.prenom}"></td>
            <td th:text="${personne.nom}"></td>
            <td th:text="${personne.dateNaissance}"></td>
            <td th:text="${personne.role.nom}"></td>
          </tr>
        </table>
      </div>
    </main>

    <footer th:include="fragments/publicfragments :: footer"></footer>
     
  </body>
</html>
