<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/equipage.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <title>Acceuil</title>
</head>

<body>
    <header>
        <div class="is-flex logotitle">
            <img th:src="@{/images/logo.png}" alt="Logo" />
            <h1>FLOTS BLEUS</h1>
        </div>

        <nav>
            <ul class="is-flex is-justify-content-space-between p-5">
                <li>Acceuil</li>
                <li>Voiliers</li>
                <li>Course</li>
                <li>Equipage</li>
                <li>Sponsors</li>
                <li>Qui sommes nous</li>
            </ul>
        </nav>
    </header>
</body>

</html>