<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
      <link rel="stylesheet" th:href="@{/css/preacceuil.css}" />
      <title>preacceuil</title>
    </head>
    
    <body>
      
        <video src="/images/race.mp4" autoplay loop muted></video>
        <header>
          <h1 class="is-size-2">FLOTS BLEUS</h1>
          <img th:src="@{/images/logo.png} " alt="Logo" />
          <h1><a th:href="@{/acceuil}">Cliquer et Naviguer"</h1></a>
        </header>
      
    </body>
  </html>
</html>
