<html xmlns:th="http://www.thymeleaf.org">
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head th:include="fragments/publicfragments :: head"></head>
   <body>
    <header th:include="fragments/publicfragments :: header"></header>
        <h1 class="is-flex is-justify-content-center is-size-1 ">Les sponsors</h1>

        <div class="is-flex is-flex-wrap-wrap is-justify-content-space-evenly p-3 ">
            <div th:each="sponsor: ${sponsors}">
                    <div class="cardspons card p-3 ">

                        <div class="card-image">
                            <figure class="image">
                                <img th:src="@{${'/img/logo/' + sponsor.logo}}">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-3" th:text="${sponsor.nom}"></p>
                            <p><a th:href="@{${'voilier/' + sponsor.voilier.nom}}" th:text="${sponsor.voilier.nom}"></a></p>
                        </div>
                    </div>
            </div>
        </div>
        <footer th:include="fragments/publicfragments :: footer"></footer>
   </body>
</html>