<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="fragments/publicfragments :: head"></head>
  <header th:include="fragments/publicfragments :: header"></header>
    

  <body>
    <main>
      <div class="is-flex is-direction-columns">
        <h2>Description des Voiliers</h2>
      </div>

      <div class="is-flex p-2 is-gapless">
        <div class="card">
          <!-- Image à la une -->
          <div class="card-image image is-3by2">
            <img src="../../static/images/mono1.png " alt="Orange" />
          </div>
          <!-- Fin de l'image à la une -->

          <!-- Corp de notre carte -->
          <div class="card-body">
            <!-- Date de publication de l'article-->
            <div class="card-date">
              <time>Année de fabrication:20 Novembre 1992</time>
            </div>

            <!-- Titre de l'article -->
            <div class="card-title">
              <h3>Le pourfendeur des mers</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam voluptatibus autem consectetur voluptate facere at,
                omnis ab optio placeat officiis! Animi modi harum enim quia
                veniam consectetur unde autem inventore.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <!-- Image à la une -->
          <div class="card-image image is-3by2">
            <img src="../../static/images/mono1.png " alt="Orange" />
          </div>
          <!-- Fin de l'image à la une -->

          <!-- Corp de notre carte -->
          <div class="card-body">
            <!-- Date de publication de l'article-->
            <div class="card-date">
              <time>Année de fabrication:20 Novembre 1992</time>
            </div>

            <!-- Titre de l'article -->
            <div class="card-title">
              <h3>Le pourfendeur des mers</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam voluptatibus autem consectetur voluptate facere at,
                omnis ab optio placeat officiis! Animi modi harum enim quia
                veniam consectetur unde autem inventore.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <!-- Image à la une -->
          <div class="card-image image is-3by2">
            <img src="../../static/images/mono1.png " alt="Orange" />
          </div>
          <!-- Fin de l'image à la une -->

          <!-- Corp de notre carte -->
          <div class="card-body">
            <!-- Date de publication de l'article-->
            <div class="card-date">
              <time>Année de fabrication:20 Novembre 1992</time>
            </div>

            <!-- Titre de l'article -->
            <div class="card-title">
              <h3>Le pourfendeur des mers</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam voluptatibus autem consectetur voluptate facere at,
                omnis ab optio placeat officiis! Animi modi harum enim quia
                veniam consectetur unde autem inventore.
              </p>
            </div>
          </div>
        </div>
        <!-- Fin du corp de notre carte -->
      </div>
    </main>
    <footer th:include="fragments/publicfragments :: footer"></footer>
  </body>
</html>
