<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="fragments/publicfragments :: head"></head>
   
  </head>
  <header th:include="fragments/publicfragments :: header"></header>

  <body>
    <main>
      <div class="is-flex is-direction-columns">
        <h2 class="is-flex is-justify-content-center p-4">
          Description des Voiliers
        </h2>
      </div>

      <div class="is-flex p-3 is-gapless">
        <div class="card p-2">
          <!-- Image à la une -->
          <!-- Titre de l'article -->
          <div class="card-title">
            <h2 class="is-size-6">Nom du bateau</h2>
            <p class="is-size-4">Le pourfendeur des mers</p>
          </div>
          <div class="card-image image is-3by2">
            <img src="/images/mono1.png " alt="Orange" />
          </div>
          <!-- Fin de l'image à la une -->

          <!-- Corp de notre carte -->
          <div class="card-body">
            <!-- Date de publication de l'article-->
            <div class="card-date"></div>
            <!-- Extrait de l'article -->

            <div class="card-excerpt">
              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu">
                    <span>Content</span>
                    <span class="icon is-small">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <h4>Détails du voilier</h4>
                    <ul>
                      <li>Nomduvoilier</li>
                      <li>Longeur:150cm</li>
                      <li>Largeur:500cm</li>
                      <li>Année de construction : 2019</li>
                      <li>Type:monocoque</li>
                      <li>Nom Equipe:Banana</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      ----------------------------------------------------------------------------------------------
      <!-- <div class="card">
          Image à la une
          <div class="card-image image is-3by2">
            <img src="../../static/images/mono1.png " alt="Orange" />
          </div>
          Fin de l'image à la une

          Corp de notre carte
          <div class="card-body">
            Date de publication de l'article
            <div class="card-date">
              <time>Année de fabrication:20 Novembre 1992</time>
            </div>

            Titre de l'article
            <div class="card-title">
              <h3>Le pourfendeur des mers</h3>
            </div>
            Extrait de l'article
            <div class="card-excerpt">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam voluptatibus autem consectetur voluptate facere at,
                omnis ab optio placeat officiis! Animi modi harum enim quia
                veniam consectetur unde autem inventore.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          Image à la une
          <div class="card-image image is-3by2">
            <img src="../../static/images/mono1.png " alt="Orange" />
          </div>
          Fin de l'image à la une

          Corp de notre carte
          <div class="card-body">
            Date de publication de l'article
            <div class="card-date">
              <time>Année de fabrication:20 Novembre 1992</time>
            </div>

            Titre de l'article
            <div class="card-title">
              <h3>Le pourfendeur des mers</h3>
            </div>
            Extrait de l'article
            <div class="card-excerpt">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam voluptatibus autem consectetur voluptate facere at,
                omnis ab optio placeat officiis! Animi modi harum enim quia
                veniam consectetur unde autem inventore.
              </p>
            </div>
          </div>
        </div>
        Fin du corp de notre carte
      </div> -->
    </main>
    <footer th:include="fragments/publicfragments :: footer"></footer>
  </body>
</html>
